<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>

<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">F.A.Q</h3>
              </div>

            </div>
          </div>
          <div class="card-body">
            <ul>
            <li>	Est-ce que l’application peut s’appliquer sur une autre pandémie ?</li>
            <p>Oui cela peut s’appliquer sur une autre pandémie, néanmoins y’a un format de fichier d’entrée à respecter. </p>
            <li>	Est-ce que les résultats sont donné par l’application sont très fiable ?</li>	
            <p>Les résultats donnent une approximation mais ne sont pas très fiable dans quelques cas, car ça reste des prédictions.</p>
            <li>	Les données récoltées sont extraites à partir d’où ? </li>
            <p>Plusieurs sources de données sont récoltées, soit via une api en open sources ou des données de santés publique.</p>
            <li>	Est-ce que nos données sont enregistrés dans symptôme checker.</li>
            <p>Aucune donnée n’est sauvegardée sur vous appart l’identifiant de connexion. </p>
            <li>	Est-ce qu’on n’importe quel utilisateur peut mettre à jour les données ? </li>
            <p>Non, les données sont mises à jour à partir des administrateurs de l’application. </p>
            <li>	Y’a-t-il des prochaines évolutions de l’application ? </li>
            <p>Oui, un suivi patient, et des résultats plus pertinents sur de nouveaux pays à intégrer.</p>
            <li>	Quand est ce que les données se mettent à jour ? </li>
            <p>Les données se mettent à jour chaque 7h du matin pour les prédictions et 1 fois par semaine pour le symptôme checker.</p>
            <li>	Est-ce qu’il y’a une version mobile qu’on peut télécharger. </li>
            <p>Malheureusement non pour le moment, peut-être dans le futur.</p>
            </ul>
            
          </div>
        </div>
    </div>
  </div>
</div>
          